%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      = render 'shared/hamburger'
      = link_to 'What\'s For Lunch?', root_path, class: 'navbar-brand'

    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          = link_to restaurants_path, 'data-toggle' => 'dropdown' do
            Admin
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'view/edit your restaurants', restaurants_path
            %li= link_to 'add new restaurant', new_restaurant_path

        - unless user_signed_in?
          %li= link_to 'Log in', new_user_session_path
        - if user_signed_in?
          %li= link_to 'Log out', destroy_user_session_path, method: :delete
