%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .row
      .col-lg-12
        .navbar-header
          = render 'shared/hamburger'
          = link_to 'What\'s For Lunch?', root_path, class: 'navbar-brand'

        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to 'Admin', restaurants_path
              %li= link_to 'Log out', destroy_user_session_path, method: :delete
            - unless user_signed_in?
              %li= link_to 'Log in', new_user_session_path
