.container-fluid
  .row
    .col-lg-6.col-lg-offset-3
      %h3.page-header= 'Edit Restaurant'

      = form_for(@restaurant) do |f|
        = render 'shared/flash_errors'
        .form-group
          = f.text_field :name, class: 'form-control', placeholder: @restaurant.name
          %span.input-group-btn
        .form-group
          = f.submit 'Update Restaurant', class: 'btn btn-primary'
