= render 'admin/nav'
.container-fluid
  .row.l-margin-top-nav-height
    .col-lg-6.col-lg-offset-3
      %h3.page-header= 'Edit Restaurant'

      = form_for(@restaurant) do |f|
        = render 'shared/flash_errors'
        .form-group
          = f.text_field :name, class: 'form-control', placeholder: @restaurant.name
          %span.input-group-btn
        .form-group
          = label_tag :rating, 'Rating'
          = select(:rating, :value, Rating.available_values, selected: @restaurant.user_rating(current_user).value)
          = hidden_field :rating, :user_id, value: current_user.id
        .form-group
          = f.submit 'Update Restaurant', class: 'btn btn-primary'
