= render 'admin/nav'
.container-fluid
  .row.l-margin-top-nav-height
    .col-lg-6.col-lg-offset-3
      %h3.page-header Edit Restaurant

      = form_for(@restaurant) do |f|
        = render 'shared/flash_errors'
        .form-group
          = f.text_field :name, class: 'form-control', placeholder: @restaurant.name
          %span.input-group-btn
        .form-group
          = label_tag :rating, 'Your Rating'
          - rating = @restaurant.user_rating(current_user)
          = select(:rating, :value, Rating.available_values, selected: (rating.nil? ? 1 : rating.value))
          = hidden_field :rating, :user_id, value: current_user.id
        .form-group
          = label_tag :visit, 'Last visit'
          = f.text_field :last_visited, 'data-provide' => 'datepicker', value: @restaurant.last_visited

        .alert.alert-info
          BE AWARE: Restaurants visited within the last 2 days will NOT show up on the homepage recommendations
        .form-group
          = f.submit 'Update Restaurant', class: 'btn btn-primary'
