= render 'admin/nav'
.container
  .row.l-margin-top-nav-height
    .col-lg-12
      = render 'shared/flash_messages'
      %h2.sub-header Springbot Restaurants
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Your Rating
            %th Last Visit
            %th Actions
        %tbody
          - @restaurants.order_by_name.each do |restaurant|
            %tr{name: 'data-row'}
              %td= restaurant.name
              - rating = restaurant.user_rating(current_user)
              %td= rating.nil? ? 'unrated' : rating.value_in_words
              %td= restaurant.last_visited
              %td
                = link_to 'view', restaurant_path(restaurant)
                %span= '/'
                = link_to 'edit', edit_restaurant_path(restaurant)
                %span= '/'
                = link_to 'delete', restaurant_path(restaurant), method: :delete
