= render 'admin/nav'
.container
  .row.l-margin-top-nav-height
    .col-lg-12
      %h2.sub-header Your Restaurants
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Your Rating
            %th Action
        %tbody
          - @restaurants.recent.each do |restaurant|
            %tr{name: 'data-row'}
              %td= restaurant.name
              %td= restaurant.user_rating(current_user)
              %td
                = link_to 'view', restaurant_path(restaurant)
                %span= '/'
                = link_to 'edit', edit_restaurant_path(restaurant)
                %span= '/'
                = link_to 'delete', restaurant_path(restaurant), method: :delete
