= render 'admin/nav'
.container-fluid
  .row.l-margin-top-nav-height
    .col-lg-6.col-lg-offset-3
      %h3.page-header= 'New Restaurant'

      = form_for(@restaurant) do |f|
        = render 'shared/flash_errors'
        .form-group
          = f.hidden_field :user_id, value: current_user.id
          = f.text_field :name, class: 'form-control', placeholder: 'name of restaurant'
          %span.input-group-btn
        .form-group
          = f.submit 'Create Restaurant', class: 'btn btn-primary'
