= render 'admin/nav'
.container
  .row.l-margin-top-nav-height
    .col-lg-12
      = render 'shared/flash_messages'
    .col-lg-6.col-lg-offset-3
      %h3.page-header= @restaurant.name
      %table.table.table-striped
        %thead
          %tr
            %th Your Rating
            %th Last Visit
        %tbody
          %tr{name: 'data-row'}
            %td= @restaurant.user_rating(current_user).value_in_words
            %td= @restaurant.last_visited

      = link_to edit_restaurant_path(@restaurant) do
        %button{class: 'btn btn-warning'}
          edit

      = link_to restaurant_path(@restaurant), method: :delete do
        %button{class: 'btn btn-danger'}
          delete
